<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="conexionRepositorio"
         connectionString="Data Source=USER-PC;Initial Catalog=BDREPOSITORIO;User id=CristianGaete;password=6433981"
         providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>